{% extends "base.html" %} {% block title %}Projects {% endblock %} {% block
header_title %} Projects {% endblock %} {% block breadcrumb %} Projects {%
endblock %} {% block body %}

<div id="inner-project-content">
	<!-- Table -->
	<!-- Button trigger modal -->
	<div class="table-actions mb-3" style="display: flex">
		<h3 style="margin-right: auto">List of Projects</h3>
		<div class="right-menu-wrapper" style="margin-left: auto">
			<button
				type="button"
				class="btn btn-primary"
				data-toggle="modal"
				data-target="#addModal"
				style="display: inline-block"
			>
				<i class="fas fa-plus"></i>
				Add
			</button>
		</div>
	</div>
	<div style="overflow-x: auto; overflow-y: auto; max-height: 100vh">
		<table id="project-table" class="table">
			<thead class="thead-light">
				<tr>
					<th class="sticky-col first-col-header" scope="col">ID</th>
					<th scope="col">Project Name</th>
					<th scope="col">Subtype</th>
					<th scope="col">Current Status</th>
					<th scope="col">Capacity (MW)</th>
					<th scope="col">Year of Completion</th>
					<th scope="col">Country list of Sponsor/Developer</th>
					<th scope="col">Sponsor/Developer company</th>
					<th scope="col">Country list of Lender/Financier</th>
					<th scope="col">Lender/Financier company</th>
					<th scope="col">Country list of Construction/EPC</th>
					<th scope="col">Construction Company/EPC Participant</th>
					<th scope="col">Country</th>
					<th scope="col">Province/State</th>
					<th scope="col">District</th>
					<th scope="col">Tributary</th>
					<th scope="col">Latitude</th>
					<th scope="col">Longitude</th>
					<th scope="col">Proximity</th>
					<th scope="col">Avg. Annual Output (MWh)</th>
					<th scope="col">Data Source</th>
					<th scope="col">Announce more information</th>
					<th scope="col">Link</th>
					<th scope="col">Latest update</th>
					<th scope="col" style="color: transparent">Edit/Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for project in project_list %}
				<tr>
					<th class="sticky-col first-col" scope="row">{{ project.id }}</th>
					<td>{{ project.project_name }}</td>
					<td>{{ project.subtype }}</td>
					<td>{{ project.current_status }}</td>
					<td>{{ project.capacity_mw ?? "N/A" }}</td>
					<td>{{ project.year_of_completion ?? "N/A" }}</td>
					<td>{{ project.country_list_of_sponsor_developer ?? "N/A" }}</td>
					<td>{{ project.sponsor_developer_company ?? "N/A" }}</td>
					<td>{{ project.country_list_of_lender_financier ?? "N/A" }}</td>
					<td>{{ project.lender_financier_company ?? "N/A" }}</td>
					<td>{{ project.country_list_of_construction_epc ?? "N/A"}}</td>
					<td>{{ project.construction_company_epc_participant ?? "N/A" }}</td>
					<td>{{ project.country }}</td>
					<td>{{ project.province_state }}</td>
					<td>{{ project.district }}</td>
					<td>{{ project.tributary ?? "N/A" }}</td>
					<td>{{ project.latitude }}</td>
					<td>{{ project.longitude }}</td>
					<td>{{ project.proximity ?? "N/A" }}</td>
					<td>{{ project.avg_annual_output_mwh ?? "N/A" }}</td>
					<td>{{ project.data_source }}</td>
					<td>{{ project.announce_more_information ?? "N/A" }}</td>
					<td>{{ project.link ?? "N/A" }}</td>
					<td>{{ project.latest_update ?? "N/A" }}</td>
					<td>
						<form
							action="/projects/delete"
							role="button"
							class="delete-form ml-2 float-right"
							method="post"
						>
							<button
								class="btn btn-danger"
								name="id"
								value="{{ project.id }}"
								style="font-size: 10px"
							>
								<i class="fas fa-trash-alt"></i>
							</button>
						</form>

						<button
							type="button"
							class="btn btn-primary float-right"
							style="font-size: 10px"
							data-toggle="modal"
							data-target="#editModal"
							data-id="{{ project.id }}"
							data-projectname="{{ project.project_name }}"
							data-subtype="{{ project.subtype }}"
							data-currentstatus="{{ project.current_status }}"
							data-capacitymw="{{ project.capacity_mw }}"
							data-yearofcompletion="{{ project.year_of_completion }}"
							data-countrylistofsponsordeveloper="{{ project.country_list_of_sponsor_developer }}"
							data-sponsordevelopercompany="{{ project.sponsor_developer_company }}"
							data-countrylistoflenderfinancier="{{ project.country_list_of_lender_financier }}"
							data-lenderfinanciercompany="{{ project.lender_financier_company }}"
							data-countrylistofconstructionepc="{{ project.country_list_of_construction_epc }}"
							data-constructioncompanyepcparticipant="{{ project.construction_company_epc_participant }}"
							data-country="{{ project.country }}"
							data-provincestate="{{ project.province_state }}"
							data-district="{{ project.district }}"
							data-tributary="{{ project.tributary }}"
							data-latitude="{{ project.latitude }}"
							data-longitude="{{ project.longitude }}"
							data-proximity="{{ project.proximity }}"
							data-avgannualoutputmwh="{{ project.avg_annual_output_mwh }}"
							data-datasource="{{ project.data_source }}"
							data-announcemoreinformation="{{ project.announce_more_information }}"
							data-link="{{ project.link }}"
							data-latestupdate="{{ project.latest_update }}"
						>
							<i class="fas fa-edit" style></i>
						</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- Pagination -->
	<div class="mt-2 float-right">
		<nav aria-label="Pagination">
			<ul class="pagination">
				<li class="page-item">
					<a class="first-page-link page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo; First</span>
					</a>
				</li>
				<li class="page-item">
					<a class="previous-link page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item">
					<div
						class="input-group md-form form-sm form-2 pl-0"
						style="width: 180px"
					>
						<!-- HIDDEN variables of Twig -->
						<input
							type="hidden"
							class="form-control"
							id="total-result"
							name="total_result"
							required
							value="{{ total_result }}"
						/>
						<input
							type="hidden"
							class="form-control"
							id="count-project-list"
							name="total_result"
							required
							value="{{ count_project_list }}"
						/>
						<input
							type="hidden"
							class="form-control"
							id="last-page"
							name="total_result"
							required
							value="{{ last_page }}"
						/>
						<!-- Input actual values! -->
						<input
							id="go-to-page"
							class="form-control shadow-none"
							type="number"
							aria-label="go-to-page"
							min="1"
						/>
						<select
							id="go-to-page-size"
							class="form-control shadow-none"
							aria-label="go-to-page"
							style="width: 30px"
						>
							<option selected>10</option>
							<option>20</option>
							<option>30</option>
							<option>40</option>
							<option>50</option>
							<option>100</option>
						</select>
						<div class="input-group-append">
							<a class="search-page-link" href="#">
								<span class="input-group-text page-link" id="page-navigate"
									><i
										class="fas fa-search text-grey"
										aria-hidden="true"
									></i></span
							></a>
						</div>
					</div>
				</li>
				<li class="page-item">
					<a class="next-link page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li class="page-item">
					<a class="last-page-link page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">Last &raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
		<p id="page-indicator"></p>
	</div>
	<!-- Add modal included here -->
	{% include "Project/add_modal.html" %}
	<!-- Edit modal -->
	{% include "Project/edit_modal.html" %}

	<script>
		$(document).ready(function (e) {
			$(".delete-form").submit(function () {
				var c = confirm(
					"Do you want to delete this Project? Click OK to continue!"
				);
				return c; //you can just return c because it will be true or false
			});
			/* Get Query parameters */
			const urlSearchParams = new URLSearchParams(window.location.search);
			const params = Object.fromEntries(urlSearchParams.entries());
			let page =
				params["page"] || typeof person == "number"
					? parseInt(params["page"], 10)
					: 1;
			let size =
				params["size"] || typeof params["size"] == "number"
					? parseInt(params["size"], 10)
					: 10;
			const total_result = $("#total-result").val();
			const count_project_list = $("#count-project-list").val();
			/* Calculate last and first page */
			var last_page = get_last_page(total_result, size);
			$("#go-to-page").val(page);
			$("#go-to-page-size").val(size);
			$("#page-indicator").html(
				`Showing <b>${count_project_list}</b> entries out of total ${total_result} entries`
			);
			/* Disabled and enabled attribute for Next/Previous navigation */
			if (page == last_page && last_page > 1 && count_project_list <= size) {
				$(".next-link").parent().addClass("disabled");
			}
			if (page == 1) {
				$(".previous-link").parent().addClass("disabled");
			}
			/* Setup Next and Previous Link and ... Other links as well! */

			$(".previous-link").attr(
				"href",
				`/projects?page=${page - 1}&size=${size}`
			);
			$(".next-link").attr("href", `/projects?page=${page + 1}&size=${size}`);
			$(".first-page-link").attr("href", `/projects?page=1&size=${size}`);
			$(".last-page-link").attr(
				"href",
				`/projects?page=${last_page}&size=${size}`
			);
			/* Prepare and Parse value for search option on pagination */
			$(".search-page-link").click(function (e) {
				let go_to_page = parseInt($("#go-to-page").val(), 10);
				let go_to_page_size = parseInt($("#go-to-page-size").val(), 10);

				$(".search-page-link").attr(
					"href",
					`/bigquery?page=${go_to_page}&size=${go_to_page_size}`
				);
			});
			/* Bind change handler to page and size input */
			$("#go-to-page, #go-to-page-size").change(function (e) {
				let page = parseInt($("#go-to-page").val(), 10);
				let size = parseInt($("#go-to-page-size").val(), 10);
				var last_page = get_last_page(total_result, size);
				$("#go-to-page").val(page);
				$("#go-to-page-size").val(size);
				$(".previous-link").attr(
					"href",
					`/projects?page=${page - 1}&size=${size}`
				);
				$(".next-link").attr("href", `/projects?page=${page + 1}&size=${size}`);
				$(".first-page-link").attr("href", `/projects?page=1&size=${size}`);
				$(".last-page-link").attr(
					"href",
					`/projects?page=${last_page}&size=${size}`
				);
			});
			/* Handle min max */
			$('input[type="number"]').on("keyup", function () {
				v = parseInt($(this).val());
				min = parseInt($(this).attr("min"));
				max = parseInt($(this).attr("max"));

				if (v < min) {
					$(this).val(min);
				} else if (v > max) {
					$(this).val(max);
				}
			});
		});

		/* Separate function to get the last page of total results */
		function get_last_page(total_result, size) {
			let modulo_last_page = total_result % size;
			if (modulo_last_page > 0) {
				var last_page = parseInt(total_result / size, 10) + 1;
			} else {
				var last_page = parseInt(total_result / size, 10);
			}
			return last_page;
		}
	</script>
</div>

{% endblock %}
