<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		/>

		<link rel="stylesheet" href="{{ siteUrl }}../404.css" />
		<link
			rel="icon"
			href="{{ siteUrl }}../favicon.ico"
			type="image/gif"
			sizes="16x16"
		/>
		<title>PM - 404 Error</title>
	</head>
	<body>
		<section class="page_404">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<div class="four_zero_four_bg">
								<h1 class="text-center">404</h1>
							</div>

							<div class="contant_box_404">
								<h3 class="h2">Look like you're lost</h3>

								<p>The page you are looking for not avaible!</p>

								<a href="../" class="link_404">Go to Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
