<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		/>

		<link rel="stylesheet" href="base.css" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="wrapper">
			<!-- Sidebar  -->
			<nav id="sidebar" class="active">
				<div class="sidebar-header">
					<h3>Manager Pro</h3>
					<strong>MP</strong>
				</div>

				<ul class="list-unstyled components">
					<li>
						<a href="/employees">
							<i class="fas fa-hard-hat"></i>
							Projects
						</a>
						{#
						<ul class="collapse list-unstyled" id="homeSubmenu">
							<li>
								<a href="#">Home 1</a>
							</li>
							<li>
								<a href="#">Home 2</a>
							</li>
							<li>
								<a href="#">Home 3</a>
							</li>
						</ul>
						#}
					</li>
					<li>
						<a href="/stats">
							<i class="fas fa-chart-bar"></i>
							Statistics
						</a>
						{#
						<a
							href="#pageSubmenu"
							data-toggle="collapse"
							aria-expanded="false"
							class="dropdown-toggle"
						>
							<i class="fas fa-copy"></i>
							Pages
						</a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
							<li>
								<a href="#">Page 1</a>
							</li>
						</ul>
						#}
					</li>
				</ul>
			</nav>
			<!-- Body block -->
			<div id="content">
				<nav
					aria-label="breadcrumb"
					style="height: 50px; color: #ebe5eb !important"
				>
					<ol class="breadcrumb" style="background-color: #ebe5eb !important">
						<li class="breadcrumb-item active" aria-current="page">
							> {% block breadcrumb %} {% endblock %}
						</li>
					</ol>
				</nav>
				{% block body %} {% endblock %}
			</div>
		</div>
		<!-- Scripts block -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<!-- jQuery Custom Scroller CDN -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#sidebar").hover(
					function () {
						$("#sidebar").toggleClass("active").delay(100);
					},
					function () {
						$("#sidebar").toggleClass("active").delay(100);
					}
				);
			});
		</script>
	</body>
</html>
